#app-body {
    margin-top: 80px;
}

.category_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.category_title {
    margin: 40px 0;
    padding: 20px 30px;
    font-size: 3rem;
    background-color: #caffff;
    position: relative;
}


#body-post {
    padding-top: 50px;
    max-width: 700px;
    margin: 0 auto;
}

.body-post_categories {
    padding: 10px 0;
}

.body-post_category-list {
    list-style: none;
    display: flex;
}

.body-post_cateogry-item {

}

.body-post_cateogry-item > a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    margin-right: 10px;
}

.body-post_cateogry-item > a:hover {
    color: var(--primary-color-low);
}

.body-post_title {
    padding: 10px 0;
}

.post_title--text {
    font-size: 3.4rem;
    line-height: 1.6;
}

.body-post_auth {
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

.body-post_auth-avt {

}

.body-post_auth-avt > a > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.body-post_auth-name {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.body-post_auth-name > a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.2rem;
}

.body-post_auth-name > span {
    color: #999;
    font-size: 1rem;
}

.body-post_content {
    padding: 30px 0;
}

.body-post_content > * {
    font-size: 1.9rem;
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 48px;
}

.body-post_comments {
    margin-top: 100px;
    /* border-top: 1px solid #cacaca; */
}

.comment-form {
    align-items: flex-end;
    position: relative;
    justify-content: space-between;
    border-bottom: 1px solid #cacaca;
}

.comment-form-type_wrapper {
    margin-right: auto;
    width: 80%;
}

.comment-form-type {
    width: 100%;
    outline: none;
    border: none;
}

.comment-form-submit {
    position: absolute;
    right: 0;
    bottom: 22px;
}

.comment-form-submit-btn {
    padding: 8px 12px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    background-color: #f3f3f3;
}

.comment-list {
    margin-top: 50px;
}

.comment-item {
    margin-bottom: 50px;
}

.comment-item_auth {
    align-items: center;
}

.comment-item_avt {

}

.comment-item_avt > a > img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.comment-item_info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.comment-item_info > a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 600;
}

.comment-item_info > span {
    color: #999;
    font-size: 1rem;
}

.comment-item_content {
    margin-top: 10px;
    /* margin-left: 20px; */
}

.comment-item_content > p {
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 300;
}

.content-categories {
    padding: 40px 0;
}

.content-category_list {
    list-style: none;
}

.content-category_item {
    padding: 0 20px;
    margin: 10px 0;
    border-left: 1px solid #999;
}

.content-category_item:first-child {
    padding-left: 0;
    border-left: none;
}

.content-category_link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.content-category_link:hover {
    color: var(--primary-color-low);
}



.content-title {
    font-size: 1.4rem;
    padding: 10px 0;
}

.content-posts_news {
    margin-bottom: 150px;
}

.content-post_new {
    margin: 12px 0;
    position: relative;
    display: block;
    border-radius: 8px;
    transform: scale(1, 1);
    transition: all 0.6s ease-out;
}

.content-post_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 56%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.content-post_new:hover {
    transform: scale(1.04, 1.04);
}

.content-post_categories {
    font-size: 1rem;
    margin: 10px 0;
}

.content-post_category {
    text-decoration: none;
    color: var(--text-color);
    background-color: rgba(218, 218, 218, 0.603);
    padding: 2px 4px;
    margin-right: 4px;
    border-radius: 2px;
}

.content-post_category:hover {
    background-color: var(--primary-color-low);
}

.content-post_title {
    font-size: 1.8rem;
    line-height: 1.5;
    padding-bottom: 20px;
    font-weight: 600;
}

.content-post_link {
    text-decoration: none;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content-post_description {
    display: none;
}

.content-post_description > p {
    color: #999;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content-post_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-post_auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #999;
}

.content-post_auth > img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-post_auth > span {
    padding-left: 10px;
    color: var(--text-color);
    font-weight: 600;
}

.content-post_auth > span:hover {
    color: var(--primary-color);
}

.content-post_time {
    color: #999;
}

.content-continute {
    text-align: center;
    margin: 20px 0;
}

.content-continute_text {
    font-size: 1.4rem;
    font-weight: 500;
}

.content-continute_signin {
    color: var(--primary-color);
}

.content-continute_signin:hover {
    cursor: pointer;
    
}

.content-posts_by-category,
.content-posts_pin {
    margin-bottom: 90px;
}

.content-post_by-category,
.content-post_pin {
    width: 100%;
    justify-content: flex-start;
    margin: 10px 0;
}

.post_by-category_link,
.post-pin_link {
    height: 200px;
    width: 300px;
}

.post_by-category_image,
.post-pin_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 75%;
    border-radius: 4px;
}

.post_by-category_text,
.post-pin_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
}

.post_categories,
.post-pin_categories {
    font-size: 1.2rem;
    margin-top: 2px;
}

.post_category,
.post-pin_category {
    text-decoration: none;
    color: var(--text-color);
    padding: 2px 4px;
    margin-right: 4px;
    border-radius: 2px;
    background-color: rgba(218, 218, 218, 0.603);
}

.post_by-category_title,
.post-pin_title {
    padding: 12px 0;
}

.post_by-category_link,
.post-pin_link {
    text-decoration: none;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--text-color);
    font-weight: 600;
}

.post_by-category_description,
.post-pin_description {
    font-size: 1.2rem;
    color: #999;
    margin-bottom: auto;
}

.post_by-category_link > p,
.post-pin_link > p,
.post_by-category_description > p,
.post-pin_description > p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post_by-category_info,
.post-pin_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
    font-size: 1.2rem;
}

.post_by-category_auth,
.post-pin_auth {
    display: flex;
    align-items: center;
    margin-right: 20px ;
    text-decoration: none;
    color: #999;
}

.post_by-category_auth > img,
.post-pin_auth > img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 6px;
}

.post_by-category_auth > span,
.post-pin_auth > span {
    color: var(--text-color);
    font-weight: 600;
}

.post_by-category_auth > span:hover,
.post-pin_auth > span:hover {
    color: var(--primary-color);
}