/* PC */
@media(min-width: 1024px) {

}

@media(min-width: 1024) and (max-width: 1220px) {

}

/* Mobile to PC low */
@media(max-width: 1023px) {
    .header-navbar {
        height: 80px;
        justify-content: center;
    }

    .navbar-search {
        margin: 0 auto;
        width: auto;
        border: none;
        align-items: center;
    }
    
    .navbar-search_type {
        display: none;
    }
    
    .search_icon {
        padding: 0;
        color: var(--text-color);
    }

    .search_icon:hover {
        font-size: 1.6rem;
        color: var(--primary-color-low);
    }

    .hidden-element {
        display: none;
    }
}

/* Tablet to PC */
@media(min-width: 740px) {

}

/* Tablet to PC low */
@media(min-width: 740px) and (max-width: 1023px) {
    .slider-item_content {
        top: 50px;
    }

    .slider_slogan {
        font-size: 3rem;
    }
}

/* Big mobile */
@media(min-width:501px) and (max-width: 739px) {
    .slider-item_content {
        top: 30px;
    }
    
    .slider_slogan {
        font-size: 2rem;
    }
}

/* Mobile to big Mobile */
@media(max-width: 739px) {
    .slider-item_content {
        max-width: 80%;
    }

    .slider-item_image {
        background-size: cover;
        height: 400px;
    }

    .slider_slogan {
        white-space: normal;
    }

    
}

/* Mobile */
@media(max-width: 500px) {
    .header-navbar {
        justify-content: flex-start;
    }

    .navbar_element:nth-child(2),
    .navbar_element:nth-child(3) {
        margin-left: auto;
    }

    .navbar-signup,
    .navbar-about {
        display: none;
    }

    .search_icon {
        font-size: 2rem;
    }

    .search_icon:hover {
        font-size: 2.4rem;
    }

    .sign_btn {
        margin: 0;
    }

    .slider-item_content {
        top: 60px;
    }

    .slider_slogan {
        font-size: 2.2rem;
        background-color: transparent;
        padding: 0;
    }

    
}




