/* PC */
@media(min-width: 1024px) {

}

@media(min-width: 1024) and (max-width: 1220px) {

}

/* Mobile to PC low */
@media(max-width: 1023px) {
    .header-navbar {
        height: 80px;
        justify-content: center;
    }
    .navbar-search {
        margin: 0 auto;
        width: auto;
        border: none;
        align-items: center;
    }
    
    .navbar-search_type {
        display: none;
    }
    
    .search_icon {
        padding: 0;
        color: var(--text-color);
    }

    .hidden-element {
        display: none;
    }
}

/* Tablet to PC */
@media(min-width: 740px) {

}

/* Tablet to PC low */
@media(min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media(max-width: 500px) {

    .navbar-signup,
    .navbar-about {
        display: none;
    }
}




