
#app-body {
    margin-top: 80px;
}

.body-users,
.body-categories,
.body-posts {
    padding-top: 40px;
}

.body-create_item {
    padding: 20px 0;
}

.body-create_btn {
    font-size: 1.4rem;
    color: blue;
    cursor: pointer;

}

.body-title {

}

.body-title > span {
    font-size: 2rem;
    padding: 16px 0;
    font-weight: 500;
}

.body-content_list {

}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 1.2rem;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}


.pin-btn,
.remove-btn {
    color: #f35757;
    font-size: 1.2rem;
    margin-left: 10px;
    cursor: pointer;
}

.pin-btn_active,
.edit-btn {
    color:rgb(68, 0, 255);
    font-size: 1.2rem;
    cursor: pointer;
}